streamlit>=1.33.0
python-dotenv>=1.0.1
google-adk

# LLM + API
openai
google-generativeai
crewai[google-genai]
google-generativeai>=0.5.2

# YouTube transcript & download
youtube-transcript-api==0.6.2
git+https://github.com/pytube/pytube
yt-dlp>=2024.03.10

# Whisper Speech-to-Text
openai-whisper
torch --index-url https://download.pytorch.org/whl/cpu

# Utilities
requests
tqdm
pydantic