streamlit
python-dotenv
google-adk

# LLM + API
openai
google-generativeai

# YouTube transcript & download
youtube-transcript-api==0.6.2
git+https://github.com/pytube/pytube
yt-dlp

# Whisper Speech-to-Text
openai-whisper
torch --index-url https://download.pytorch.org/whl/cpu
# If using GPU
# Directly enter this commaand in terminal: pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu130
# You also need to have the appropriate CUDA version installed for your GPU.

# Utilities
requests
tqdm
pydantic
